<app-competition-header location="top" [id]="id" [userRole]="userRole"
  [isDeletable]="(isCompetitionDeletable$ | async) || false" (delete)="deleteCompetition()">
</app-competition-header>
<div class="container">
  <form [formGroup]="competitionForm" (ngSubmit)="onSubmit()"
    [ngClass]="{'needs-validation': ($displayMode | async) == 'edit'}" class="mb-4" novalidate>
    <div class="row flex flex-row align-items-center">
      <div class="col-sm-12 col-md-5 mb-3">
        <app-competition-field [label]="'Verseny neve'" [id]="'name'" [control]="name"
          [displayMode]="($displayMode | async) || 'show'"
          [errorMessage]="'Kérem töltse ki a verseny nevét'"></app-competition-field>
      </div>
      <div class="col-sm-12 col-md-1 pt-3 ps-4">
        <app-competition-checkbox-field [label]="'OKTV'" [id]="'oktv'" [control]="$any(competitionForm.get('oktv'))"
          [displayMode]="($displayMode | async) || 'show'"
          (toggle)="toggleOktv($event)"></app-competition-checkbox-field>
      </div>

      <!-- Participant Editor Component -->
      <div class="col-12 mb-3">
        <label class="form-label">Résztvevők</label>
        <app-participant-editor [participants]="participants" (participantsChange)="onParticipantsChange($event)"
          [disabled]="($displayMode | async) == 'show'"></app-participant-editor>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-field [label]="'Helyszín'" [id]="'location'" [control]="location"
          [displayMode]="($displayMode | async) || 'show'"
          [errorMessage]="'Kérem töltse ki a verseny helyszínét'"></app-competition-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-list-field [label]="'Tantárgy / Téma'" [formArray]="subject"
          [displayMode]="($displayMode | async) || 'show'" [options]="subjects" [addButtonLabel]="'Tantárgy hozzáadása'"
          [errorMessage]="'Kérem töltse ki a tantárgyat vagy a tematikát'" (add)="addSubject('')"
          (remove)="removeSubject($event)"></app-competition-list-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-list-field [label]="'Felkészítő tanár'" [formArray]="teacher"
          [displayMode]="($displayMode | async) || 'show'" [options]="teachers" [addButtonLabel]="'Tanár hozzáadása'"
          [errorMessage]="'Kérem adja meg a felkészítő tanár nevét'" [canDeleteFirst]="true"
          [emptyMessage]="'Nincs megadva felkészítő tanár'" (add)="addTeacher('')"
          (remove)="removeTeacher($event)"></app-competition-list-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-date-field [label]="'Verseny (vagy eredményhirdetés) dátuma'" [id]="'date'" [control]="date"
          [displayMode]="($displayMode | async) || 'show'"></app-competition-date-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-select-field [label]="'Verseny típusa'" [id]="'level'" [control]="level"
          [displayMode]="($displayMode | async) || 'show'" [placeholder]="'Válasszon típust!'" [options]="[
            { value: Level.Local, text: 'Helyi' },
            { value: Level.State, text: 'Vármegyei' },
            { value: Level.National, text: 'Országos' }
          ]" [errorMessage]="'Kérem adja meg a verseny körzetét!'"></app-competition-select-field>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-select-field [label]="'Verseny szintje'" [id]="'round'" [control]="round"
          [displayMode]="($displayMode | async) || 'show'" [placeholder]="'Válasszon szintet!'"
          [options]="filteredRounds"
          [errorMessage]="'Kérem adja meg a verseny szintjét!'"></app-competition-select-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-list-field [label]="'Verseny formája'" [formArray]="forms"
          [displayMode]="($displayMode | async) || 'show'" [inputType]="'select'" [options]="[
            { value: Form.Written, text: 'Írásbeli' },
            { value: Form.Oral, text: 'Szóbeli' },
            { value: Form.Sport, text: 'Sport' },
            { value: Form.Submission, text: 'Pályázatos' }
          ]" [addButtonLabel]="'Több hozzáadása'" [errorMessage]="'Kérem adja meg a verseny formáját!'"
          (add)="addForm()" (remove)="removeForm($event)"></app-competition-list-field>
      </div>
      <div class="col-12 mb-3">
        <h4>Eredmény</h4>
        <app-competition-result [formGroup]="$any(competitionForm.get('result'))"
          [displayMode]="($displayMode | async) || 'show'"></app-competition-result>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-field [label]="'Megjegyzés'" [id]="'note'" [control]="other"
          [displayMode]="($displayMode | async) || 'show'" [type]="'textarea'"></app-competition-field>
      </div>
      <app-competition-header location="bottom" [mode]="($displayMode | async) || 'show'" [id]="id"
        [userRole]="userRole" [isLoading]="isLoading" (edit)="editMode()" (cancel)="showMode()" (save)="onSubmit()">
      </app-competition-header>
    </div>
  </form>
</div>