<app-competition-header location="top" [id]="id" [userRole]="userRole"
  [isDeletable]="(isCompetitionDeletable$ | async) || false" (delete)="deleteCompetition()">
</app-competition-header>
<div class="container">
  <form [formGroup]="competitionForm" (ngSubmit)="onSubmit()"
    [ngClass]="{'needs-validation': ($displayMode | async) == 'edit'}" class="mb-4" novalidate>
    <div class="row flex flex-row align-items-center">
      <div class="col-sm-12 col-md-5 mb-3">
        <app-competition-field [label]="'Verseny neve'" [id]="'name'" [control]="name"
          [displayMode]="($displayMode | async) || 'show'"
          [errorMessage]="'Kérem töltse ki a verseny nevét'"></app-competition-field>
      </div>
      <div class="col-sm-12 col-md-1 pt-3 ps-4">
        <app-competition-checkbox-field [label]="'OKTV'" [id]="'oktv'" [control]="$any(competitionForm.get('oktv'))"
          [displayMode]="($displayMode | async) || 'show'"
          (toggle)="toggleOktv($event)"></app-competition-checkbox-field>
      </div>

      <!-- Participant Editor Component -->
      <div class="col-12 mb-3">
        <label class="form-label">Résztvevők</label>
        <app-participant-editor [participants]="participants" (participantsChange)="onParticipantsChange($event)"
          [disabled]="($displayMode | async) == 'show'"></app-participant-editor>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-field [label]="'Helyszín'" [id]="'location'" [control]="location"
          [displayMode]="($displayMode | async) || 'show'"
          [errorMessage]="'Kérem töltse ki a verseny helyszínét'"></app-competition-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-list-field [label]="'Tantárgy / Téma'" [formArray]="subject"
          [displayMode]="($displayMode | async) || 'show'" [options]="subjects" [addButtonLabel]="'Tantárgy hozzáadása'"
          [errorMessage]="'Kérem töltse ki a tantárgyat vagy a tematikát'" (add)="addSubject('')"
          (remove)="removeSubject($event)"></app-competition-list-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-list-field [label]="'Felkészítő tanár'" [formArray]="teacher"
          [displayMode]="($displayMode | async) || 'show'" [options]="teachers" [addButtonLabel]="'Tanár hozzáadása'"
          [errorMessage]="'Kérem adja meg a felkészítő tanár nevét'" [canDeleteFirst]="true"
          [emptyMessage]="'Nincs megadva felkészítő tanár'" (add)="addTeacher('')"
          (remove)="removeTeacher($event)"></app-competition-list-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <label for="date" class="form-label">Verseny (vagy eredményhirdetés) dátuma</label>
        <input type="text" class="form-control" formControlName="date" mwlFlatpickr placeholder="ÉÉÉÉ.HH.NN"
          [readonly]="($displayMode | async) == 'show'"
          [ngClass]="{'is-invalid': date.touched && date.errors, 'is-valid': date.touched && !date.errors}" id="date">
        @if (competitionForm.get('date')?.errors?.['required']) {
        <div class="invalid-feedback">Kérem adja meg a verseny (vagy az eredményhirdetés) időpontját!</div>
        }
        @if (competitionForm.get('date')?.errors?.['futureDate']) {
        <div class="invalid-feedback">Nem adhat meg jövőbeni dátumot!</div>
        }
        @if (competitionForm.get('date')?.errors?.['schoolYear']) {
        <div *ngIf="competitionForm.get('date')?.errors?.['schoolYear']" class="invalid-feedback">
          A verseny dátumának az aktuális tanévben kell lennie (szeptember 1. - augusztus 31. között).
        </div>
        }
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-select-field [label]="'Verseny típusa'" [id]="'level'" [control]="level"
          [displayMode]="($displayMode | async) || 'show'" [placeholder]="'Válasszon típust!'" [options]="[
            { value: Level.Local, text: 'Helyi' },
            { value: Level.State, text: 'Vármegyei' },
            { value: Level.National, text: 'Országos' }
          ]" [errorMessage]="'Kérem adja meg a verseny körzetét!'"></app-competition-select-field>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-select-field [label]="'Verseny szintje'" [id]="'round'" [control]="round"
          [displayMode]="($displayMode | async) || 'show'" [placeholder]="'Válasszon szintet!'"
          [options]="filteredRounds"
          [errorMessage]="'Kérem adja meg a verseny szintjét!'"></app-competition-select-field>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-list-field [label]="'Verseny formája'" [formArray]="forms"
          [displayMode]="($displayMode | async) || 'show'" [inputType]="'select'" [options]="[
            { value: Form.Written, text: 'Írásbeli' },
            { value: Form.Oral, text: 'Szóbeli' },
            { value: Form.Sport, text: 'Sport' },
            { value: Form.Submission, text: 'Pályázatos' }
          ]" [addButtonLabel]="'Több hozzáadása'" [errorMessage]="'Kérem adja meg a verseny formáját!'"
          (add)="addForm()" (remove)="removeForm($event)"></app-competition-list-field>
      </div>
      <div class="col-12 mb-3">
        <h4>Eredmény</h4>
        <div formGroupName="result" class="row">
          <div class="col-md-6 mb-3">
            <label for="position" class="form-label">Helyezés</label>
            <div class="input-group">
              <input [readonly]="($displayMode | async) === 'show'" type="number" class="form-control"
                [ngClass]="{'is-invalid': position.invalid && (position.touched || position.dirty)}" id="position"
                formControlName="position" min="1">
              <span class="input-group-text">. helyezés</span>
              @if (position.invalid && (position.touched || position.dirty)) {
              <div class="invalid-feedback">Kérem adjon meg egy érvényes helyezést</div>
              }
            </div>
            <div class="form-text">Hagyja üresen, ha nincs helyezés</div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="specialPrize" formControlName="specialPrize">
              <label class="form-check-label" for="specialPrize">Különdíj</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="compliment" formControlName="compliment">
              <label class="form-check-label" for="compliment">Dicséret</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="nextRound" formControlName="nextRound">
              <label class="form-check-label" for="nextRound">Továbbjutás</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <app-competition-field [label]="'Megjegyzés'" [id]="'note'" [control]="other"
          [displayMode]="($displayMode | async) || 'show'" [type]="'textarea'"></app-competition-field>
      </div>
      <app-competition-header location="bottom" [mode]="($displayMode | async) || 'show'" [id]="id"
        [userRole]="userRole" [isLoading]="isLoading" (edit)="editMode()" (cancel)="showMode()" (save)="onSubmit()">
      </app-competition-header>
    </div>
  </form>
</div>