<label [for]="id" class="form-label">{{ label }}</label>
<input type="text" class="form-control" [formControl]="control" mwlFlatpickr [placeholder]="placeholder"
    [readonly]="displayMode === 'show'" [ngClass]="{
    'is-invalid': displayMode === 'edit' && control.touched && control.errors,
    'is-valid': displayMode === 'edit' && control.touched && !control.errors
  }" [id]="id">

@if (displayMode === 'edit' && control.touched && control.errors) {
@if (control.errors['required']) {
<div class="invalid-feedback">Kérem adja meg a verseny (vagy az eredményhirdetés) időpontját!</div>
}
@if (control.errors['futureDate']) {
<div class="invalid-feedback">Nem adhat meg jövőbeni dátumot!</div>
}
@if (control.errors['schoolYear']) {
<div class="invalid-feedback">
    A verseny dátumának az aktuális tanévben kell lennie (szeptember 1. - augusztus 31. között).
</div>
}
}