<div class="participant-editor" [class.disabled]="disabled">
  @if (!disabled) {
    <app-participant-search
      [isSearching]="isSearching"
      [searchResults]="searchResults"
      (search)="onSearch($event)"
      (selectStudent)="onSelectStudent($event)"
      (addNew)="onAddNew()"
    ></app-participant-search>
  }

  @if (showAddForm) {
    <app-participant-form
      [classYears]="CLASS_YEARS"
      [classLetters]="CLASS_LETTERS"
      (submitForm)="onAddParticipant($event)"
      (cancel)="onCancelAdd()"
      (formInteraction)="onFormInteraction()"
    ></app-participant-form>
  }

  <app-participant-list
    [participants]="participants"
    [disabled]="disabled"
    (remove)="onRemoveParticipant($event)"
  ></app-participant-list>
</div>
