<div class="navbar-container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PSG:DB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-4 mb-sm-0">
          @if ($isLoggedIn | async) {
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="competition">
                <i class="bi-trophy me-1"></i>Eredmények
              </a>
            </li>
            @if (($currentUser | async)?.role !== Role.VIEWER) {
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="competition-editor">
                  <i class="bi-pencil-square me-1"></i>Rögzítés
                </a>
              </li>
            }
            @if (($currentUser | async)?.role === Role.ADMIN) {
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="admin/users">
                  <i class="bi-people me-1"></i>Felhasználók
                </a>
              </li>
            }
          }
        </ul>

        @if (!($isLoggedIn | async)) {
          <div class="d-flex">
            <button class="btn btn-outline-secondary btn-sm" routerLink="login" title="Bejelentkezés">
              <i class="bi-box-arrow-in-right me-1"></i>Bejelentkezés
            </button>
          </div>
        } @else if ($currentUser | async) {
          <div class="d-flex align-items-center">
            <span class="me-3">Üdv {{ ($currentUser | async)!.email }}!</span>
            <span class="badge bg-primary me-3">{{ getRoleTranslation(($currentUser | async)!.role) }}</span>
            <button class="btn btn-outline-secondary btn-sm" (click)="logout()" title="Kijelentkezés">
              <i class="bi-box-arrow-right me-1"></i>Kijelentkezés
            </button>
          </div>
        }
      </div>
    </div>
  </nav>
  <div class="school-year-indicator bg-light border-top py-1">
    <div class="container-fluid">
      <small class="fw-bold">Aktuális tanév: {{ currentSchoolYear }}</small>
    </div>
  </div>
</div>
